@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  @apply bg-white text-gray-900 antialiased;
}

.iframe-borderless {
  border: none;
}
